@import url('https://fonts.googleapis.com/css2?family=Charm&family=Charmonman&family=Lora:ital,wght@0,400;0,500;0,700;1,400&family=Parisienne&family=Petit+Formal+Script&family=Pinyon+Script&family=Arapey&display=swap');

:root {  
  --primary: #1d1d20;
  --clr-dark: #ffffff08;
  --clr-pitch: #3f3e3e11;
  --pitch: #1a1919;
  --darkchoc: #1b0f0b;
  --sugar: #f7f2e6;
  --buttermilk: #f0e4cc;
  --magic: #e4e4e4;
  --light: #efeceb;
  --dust: #ffe6ff;
  /* --rust: #cf634a;
  --nutmeg: #ce7460; */
  --candy: #ff65bd;
  --candy3: #ffa4d8;
  --candy2: #ff2483;
  --clr2: #b3a78c;
  --stone: #e3bca6;
  --rose: #f7c7cf;
  --shadowDark: #6e666636;
  --shadowLight: #e9e6e636; 
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  letter-spacing: 0.04em;
  line-height: 1.4;
  word-spacing: 1.4px;
  color: var(--sugar);
  background-color: var(--darkchoc);
  user-select: none;
  font-family: 'Arapey', sans-serif;
  font-weight: 200;
}

.tab-label li,
.tab-content p,
.tab-content a {
  font-size: 1.2rem;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1100) {
  .app {
    height: 100%;
  }
}

#tsparticles {
  height: 100%;
}

.inner-container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  background-color: var(--darkchoc);
  /* background-color: var(--primary); */
  backdrop-filter: blur(2px);
  /* box-shadow: 0px 0px 15px 1px var(--buttermilk); */
  padding: 1em 0;
  overflow-y: scroll;
  /* border: 1px solid pink; */
}

header {
  display: flex;
  align-items: center;
  gap: 1.2em;
}

header .line-icon {
  margin-top: -2.4em;
  /* border: 1px solid blue */
}

header .name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* border: 1px solid blue */
}

header h1 {
  font-family: Charmonman;
  font-weight: 100;
  font-size: 1.8rem;
  padding-right: 0.2em;
  /* border: 1px solid blue; */
}

.name-icon {
  fill: var(--sugar);
  stroke-opacity: 1;
  stroke: var(--primary);
  stroke-width: 1.2;
  stroke-dashoffset: 3000;
  stroke-dasharray: 3000;
  animation: 12s ease-in forwards name-icon;
}

.main {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  margin: 5em 0;
}

.main > * {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  justify-content: center;
  min-height: 290px;
}

.main > *:nth-child(1) {
  flex: 1 1 45%;
  min-width: 25ch;
}

.main > *:nth-child(2) {
  flex: 1 1 20%;
  align-items: self-start;
}

.main > *:nth-child(3) {
  flex: 1 1 10%;
  /* border: 1px solid white; */
}

.main > *:nth-child(4) {
  flex: 1 1 10%;
}

.tab-content {
  position: relative;
  overflow: hidden;
}

.tab-content > div {
  padding: 0 3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  opacity: 0;
}

.tab-content > div.active-content {
  top: 0px;
  opacity: 1;
  animation: active-content 0.4s ease-in-out;
}

@keyframes active-content {
  0% {
    transform: translateX(4%)
  }

  100% {
    transform: translateX(0);
  }
}

.tab-content > div h2 {
  font-weight: 200;
  font-size: 1.3rem;
  text-align: left;
}

.content-links {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.content-links a {
  color: var(--rose);
  text-decoration: none;
  padding: 0.1em 0;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.content-links a:hover {
  border-bottom: 1px solid #E4E4E4;
}

.tab-label li {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 0.1em;
  border-bottom: 1px solid transparent;
  transition: color 0.3s ease ease-in-out;
}

.tab-label li.active-link {
  color: var(--candy);
  border-bottom: 1px solid var(--candy);
}

.hero-bg img{
  max-width: 250px;
  cursor: pointer; 
  margin-bottom: -0.3em;
  filter: grayscale(25%);
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em 0;
}

footer p {
  font-size: 12px;
  padding-bottom: 1px;
}


/* 
 @keyframes name-icon {
  0% {
    stroke-dashoffset: 3000;
  }

  20% {
    stroke-dashoffset: 2500;
  }
  
  40% {
    stroke-dashoffset: 2000;
  }

  60%{
    stroke-dashoffset: 1500;
  }

  80%{
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}  */