@import url('https://fonts.googleapis.com/css2?family=Charm&family=Charmonman&family=Lora:ital,wght@0,400;0,500;0,700;1,400&family=Parisienne&family=Petit+Formal+Script&family=Pinyon+Script&family=Arapey&display=swap');
@import '../src/components/fonts/font.css';

:root {  
  --primary: #1d1d20;
  --clr-dark: #ffffff08;
  --clr-pitch: #3f3e3e11;
  --pitch: #1a1919;
  /* --darkchoc: #1b0f0b; */
  --darkchoc: #0f0c0a;
  --sugar: #f7f2e6;
  --cottoncandy: #ffdee3;
  --buttermilk: #f0e4cc;
  /* --buttermilk: #f6d2ff; */
  --magic: #e4e4e4;
  --light: #efeceb;
  --dust: #ffe6ff;
  /* --rust: #cf634a;
  --nutmeg: #ce7460; */
  --candy: #ff65bd;
  --candy3: #ffa4d8;
  --candy2: #ff2483;
  --clr2: #b3a78c;
  --stone: #e3bca6;
  --rose: #f7c7cf;
  --shadowDark: #6e666636;
  --shadowLight: #e9e6e636; 
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #040200; 
}

body {
  letter-spacing: 0.03em;
  line-height: 1.4;
  word-spacing: 1.4px;
  color: var(--cottoncandy);
  height: 100%;
  user-select: none;
  font-family: 'Now Thin', sans-serif;
  background: #0f0701;


/* background: #1a0702; /* Old browsers
background: -moz-linear-gradient(-45deg,  #1a0702 0%, #090201 50%, #080200 51%, #110603 100%); 
background: -webkit-linear-gradient(-45deg,  #1a0702 0%,#090201 50%,#080200 51%,#110603 100%); 
background: linear-gradient(135deg,  #1a0702 0%,#090201 50%,#080200 51%,#110603 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a0702', endColorstr='#110603',GradientType=1 ); */


background: #221102; 
background: -moz-linear-gradient(45deg,  #221102 0%, #040200 46%, #000000 50%, #020100 53%, #110801 76%, #0d0701 87%, #060300 100%); 
background: -webkit-linear-gradient(45deg,  #221102 0%,#040200 46%,#000000 50%,#020100 53%,#110801 76%,#0d0701 87%,#060300 100%); 
background: linear-gradient(45deg,  #221102 0%,#040200 46%,#000000 50%,#020100 53%,#110801 76%,#0d0701 87%,#060300 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#221102', endColorstr='#060300',GradientType=1 );  

}

a, li {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

header .social-links a,
.tab-section li,
.content-links a,
footer p {
  font-size: 0.85rem;
}

.tab-content p {
  font-size: 0.9rem;
}

.line-icon {
  stroke: var(--cottoncandy);
  stroke-width: 2;
  transition: all 4s ease;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  
}

.inner-container {
  max-width: 1640px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}

header {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  /* border: 1px solid lightblue; */
}

header > *:not(:nth-child(2)) {
  padding: 0 6em;
}

header .social-links {
  display: flex;
  gap: 2em;
  padding-top: 0.4em;
  /* border: 1px solid white; */
}

header .social-links a {
  color: var(--light);
}

header .name-icon {
  fill: var(--cottoncandy);
  cursor: pointer;
}

.main {
  max-width: 600px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid pink; */
  /* position: relative; */
}

.hero {
  display: grid;
  place-items: center;
  position: relative;
  max-height: 350px;
  height: 100%;
}

.hero img.profile {
  max-width: 300px;
  height: 300px;
  width: 100%;
  /* border: 4px solid rgb(184, 185, 185) ; */
  /* box-shadow: 0px 0px 8px 4px rgb(184, 185, 185); */ 
  z-index: 9;
  border-radius: 0.3em;
}

.hero img.gif {
  max-width: 300px;
  height: 300px;
  width: 100%;
  position: absolute;
  border-radius: 0.3em;
} 

.tab-section > * {
  position: fixed;
}

.tab-section .tab-line {
  top: 0;
  right: -7em;
  /* border: 1px solid lightgreen; */
}

.tab-section h3 {
  right: 0;
  top: 5.6em;
  rotate: 90deg;
}

.tab-section ul {
  right: 8em;
  top: 4.9em;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.tab-section ul li {
  list-style: none;
  padding-bottom: 0.1em;
  margin-bottom: 0.8em;
  border-bottom: 1px solid transparent;
}

.tab-section ul li:hover {
  color: var(--candy3);
}

.tab-section ul li.active-link {
  color: var(--candy3);
  border-bottom: 1px solid var(--candy3);
}

.tab-content {
  position: relative;
  max-height: 200px;
  height: 100%;
  /* border: 1px solid lightblue; */
}

.tab-content > div  {
  padding: 0.5em 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
}

.tab-content > div.active-content {
  opacity: 1;
  animation: active-content 0.5s ease-in-out;
}

@keyframes active-content {
  0% {
    transform: translateY(5%)
  }

  100% {
    transform: translateY(0);
  }
}

.content-links {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

.content-links a {
  color: var(--rose);
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.content-links a:hover {
  border-bottom: 1px solid #E4E4E4;
}

footer {
  padding: 1.2em 0;
  position: relative;
}

.footer-line {
  /* border: 1px solid white; */
  position: fixed;
  left: -7em;
  bottom: 0;
}


@media screen and (max-width: 800px) {
  .footer-line {
    rotate: 90deg;
    /* left: 0;
    bottom: -12em; */
  }
}

@media screen and (max-width: 780px) {
  .footer-line {
    left: 12em;
    bottom: -9em;
  }
}

footer p {
  text-align: center;
}
